# MySQL DB
MYSQL_USER=dummyuser
MYSQL_PASSWORD=dummypassword
MYSQL_DATABASE=dummydatabase
MYSQL_HOST=dummyhost

# MinIO (Object Store)
MINIO_URL=http://dummyhost:9000
MINIO_BUCKET=dummybucket
MINIO_ACCESS_KEY=dummyaccesskey
MINIO_SECRET_KEY=dummysecretkey